@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
	font-family: 'Inter', sans-serif;
	color: azure;
}

#root, body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
}

body {
	background-color: #1c1c1c;
}

#sidebar {
	color: #fff;
	width: 250px;
	border-right: white 1px solid;
	flex-shrink: 0;
}

#content {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#titlebar {
	display: flex;
	flex-direction: row;
	height: 30px;
	user-select: none;
	justify-content: right;
	align-items: center;
}

#logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 250px;
	font-size: 30px;
}

#root {
	display: flex;
	flex-direction: row;
}

.sidebar-button:hover {
	cursor: pointer;
}

#sidebar-buttons {
	display: flex;
	flex-direction: column;
}

#sidebar-buttons-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.titlebar-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
}

.titlebar-title {
	padding-left: 10px;
}

.titlebar-button:hover {
	background: #5bbec3;
}
